<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" th:src="@{~/js/aes.js}"></script>
    <script type="text/javascript" th:src="@{~/js/pad-zeropadding.js}"></script>
    <script type="text/javascript" th:src="@{~/js/security.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery-2.2.3.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/random.js}"></script>
</head>
<body>
<!--<span th:text="${hello}"></span>-->
<button id="select" onclick="sendData()">触发</button>
</body>
<script>
    function sendData() {
        $.ajax({
            type: "POST",
            url:"/save",
            data:JSON.stringify({name:"好看"}),
            dataType:'json',
            contentType: "application/json",
            success: function(resData) {
                alert("返回的数据："+resData.name);
            }
        });
    }
</script>
</html>